html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    line-height: 1.6;
    color: #2d2d2d;
}

body {
    margin: 0;
    overflow-x: hidden;
}

section {
    padding: 40px 10px;
}


img {
    height: auto;
    max-width: 100%;
}


.navbar {
    background: #1d1e25;
}

.primary {
    color: #45bafc;
}

a.primary:hover {
    color: #29749e;
}

.secondary {
    color: #57EEA1;
}

a.secondary:hover, a.secondary:active {
    color: #4BC380;
    text-decoration: none;
}

.section-header-badge {
    background-color: #45bafc;
    font-weight: 400;
}