.brand-img {
    height: 30px;
    margin-right:5px;
    border-radius: 50%;
    margin-top: -5px;
}

.small-container {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.main-jumbo {
    margin-top: 50px;
    background: -webkit-gradient(linear, left top, right bottom, from(#292C33), to(#393d47));
    background: linear-gradient(to bottom right, #292C33, #393d47);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(80vh - 60px);
}

.main-jumbo h1 {
    font-weight: 600;
}

/*
.main-jumbo p {
    font-size: 1.2rem;
}*/
