.brand-img {
    height: 30px;
    margin-right:5px;
    border-radius: 50%;
    margin-top: -5px;
}

.small-container {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.medium-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.section-header {
    margin-bottom: 2rem;
    font-weight: 700;
    /*
    font-family: 'Rum Raisin', sans-serif;
    text-transform: uppercase;
    */

}

.mcp-logo {
    height: 100px;
}


.alt-font {
    font-family: 'Rum Raisin', cursive;
}

#intro {
    margin-top: 50px;
    background: -webkit-gradient(linear, left top, right bottom, from(#292C33), to(#393d47));
    background: linear-gradient(to bottom right, #292C33, #393d47);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

#intro h1 {
    font-weight: 600;
}

.into-img {
    max-width: 200px;
}

#contact {
    background: -webkit-gradient(linear, left top, right bottom, from(#292C33), to(#393d47));
    background: linear-gradient(to bottom right, #292C33, #393d47);
    min-height: calc(60vh );
}

/*
.main-jumbo p {
    font-size: 1.2rem;
}*/

#intro {
    padding: 50px 0;
}

.cert-card {
    margin-bottom: 15px;
}

.cert-card:hover {
    -webkit-box-shadow: 0 4px 8px #45bafc;
    box-shadow: 1px 1px 15px #45bafc;
}

.dark-nav-text {
    color: rgba(255,255,255,.5);
}


.project-link {
    color: #212529;
    white-space: nowrap;
}

.project-link:hover, .project-link:active {
    color: #212529;
}

.project-link .link-icon {
    visibility: hidden;
    text-decoration: none;
}
.project-link:hover .link-icon,
.project-link:active .link-icon {
    visibility: visible;
    text-decoration: none;
}

.timeline-badge {
    font-weight: 400;
}
