.brand-img {
    height: 30px;
    margin-right:5px;
    border-radius: 50%;
    margin-top: -5px;
}

.small-container {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.medium-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.back-to-top {
    display: none;
}

#intro {
    margin-top: 50px;
    background: -webkit-gradient(linear, left top, right bottom, from(#292C33), to(#393d47));
    background: linear-gradient(to bottom right, #292C33, #393d47);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

#intro h1 {
    font-weight: 600;
}

.into-img {
    max-width: 200px;
}

#contact {
    background: -webkit-gradient(linear, left top, right bottom, from(#292C33), to(#393d47));
    background: linear-gradient(to bottom right, #292C33, #393d47);
    min-height: calc(60vh );
}

/*
.main-jumbo p {
    font-size: 1.2rem;
}*/

section {
    padding: 40px 0;
}

#intro {
    padding: 50px 0;
}

.cert-card {
    margin-bottom: 15px;
}

.cert-card:hover {
    -webkit-box-shadow: 0 4px 8px #45bafc;
    box-shadow: 1px 1px 15px #45bafc;
}